body{
    background-color: rgb(90, 90, 90);
}
.admin{
    background-color: white;
    width: 1000px;
    height: 1300px;
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
}
.header{
    margin-top: 2%;
    margin-left: 80%;
    position: absolute;
}
.header span a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
hr{
    width: 90%;
}
.search{
    border: 1px solid black;
    width: 250px;
    height: 400px;
    position: absolute;
    top:17%;
    left: 15%;
    background-color: wheat;
    transform: translate(-14%,-15%);
}
.search h3{
    margin-left: 20px;
}
.search input[type="text"]{
    margin-left: 20px;
    height: 20px;
    width: 180px;
}
.search .text{
    width: 200px;
    height: 230px;
    background-color: white;
    margin-left: 20px;
}
.search input[type="button"]{
    margin-top: 20px;
    height: 40px;
    width: 250px;
    padding: 5px;
    border-radius: 15px 15px;
    background-color: white;
    color: rgb(88, 146, 255);
    border: 1px solid rgb(88, 146, 255);
    cursor: pointer;
}
.vista{
    border: 1px solid black;
    width: 450px;
    height: 600px;
    position: absolute;
    left: 50%;
    top:15.4%;
    transform: translate(-12%,-6%);
    padding-left:30px;
    background-color: wheat;
    padding-top: 18px;
    font-size: 20px;
}
.vista #codigo{
    margin-left: 40px;
    width: 250px;
    height: 20px;
}
.vista #ubicacion{
    margin-left: 17px;
    width: 250px;
    height: 20px;
    margin-top: 5px;
}
.vista #estado{
    margin-left: 45px;
    width: 250px;
    height: 20px;
    margin-top: 5px;
}
.vista .text2{
    width: 255px;
    height: 230px;
    background-color: white;
    margin-left: 100px;
}
.vista hr{
    width: 95%;
    margin-left: -7px;
}
.vista h3{
    font-size: 20px;
}
.vista #rojo{
    margin-left: 50px;
    width: 250px;
    height: 20px;
}
.vista #amarillo{
    margin-left: 17px;
    width: 250px;
    height: 20px;
    margin-top: 5px;
}
.vista #verde{
    margin-left: 42px;
    width: 250px;
    height: 20px;
    margin-top: 5px;
}
.hr2{
    margin-top: 67%;
}
.Ingreso{
    border: 1px solid black;
    width: 800px;
    height: 320px;
    background-color: wheat;
    position: absolute;
    left: 50%;
    top:82%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    padding-left:20px;
    padding-top: 10px;
}
.Ingreso .Left{
    width: 50%;
    height: 50%;
}
.Ingreso .Right{
    width: 50%;
    position: absolute;
    height: 50%;
    top: 6%;
    left: 98%;
    transform: translate(-98%,-6%);
    padding-left: 20px;
    margin-left: 30px;
}
.Ingreso .Right .text3{
    width: 255px;
    height: 230px;
    background-color: white;
    margin-left: 4px;
    margin-top: 5px;
}
.Ingreso .Left input[type="text"]{
    margin-top: 10px;
}
.Ingreso .Left #rojo{
    margin-left: 83px;
    width: 220px;
    height: 20px;
}
.Ingreso .Left #amarillo{
    margin-left: 50px;
    width: 220px;
    height: 20px;
    margin-top: 5px;
}
.Ingreso .Left #verde{
    margin-left: 75px;
    width: 220px;
    height: 20px;
    margin-top: 5px;
}
.Ingreso .Left #codigo{
    margin-left: 65px;
    width: 220px;
    height: 20px;
}
.Ingreso .Left #ubicacion{
    margin-left: 43px;
    width: 220px;
    height: 20px;
    margin-top: 5px;
}
.Ingreso .Left #estado{
    margin-left: 70px;
    width: 220px;
    height: 20px;
    margin-top: 5px;
}
.Ingreso .Left #fecha{
    margin-left: 40px;
    width: 220px;
    height: 20px;
    margin-top:1px;
}