body{
    background: url(../imagenes/fondo.jpg);
    background-size: cover;
}
h1{
  color: #fff;
}
h2{
  color: #fff;
}
.div0 center{
  background-color: rgba(0, 0, 0, .3);
    width: 900px;
    height: 1040px;
    border-radius: 30px 30px;
    padding: 50px;
    margin-left: 180px;
}
table.customTable {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    color: #000000;
  }
  
  table.customTable td, table.customTable th {
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    padding: 5px;
  }
  
table.customTable thead {
    background-color: #7EA8F8;
}
  


table.customTableD {
  width: 60%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7EA8F8;
  border-style: solid;
  color: #000000;
}

table.customTableD td, table.customTable th {
  border-width: 2px;
  border-color: #7EA8F8;
  border-style: solid;
  padding: 5px;
}

table.customTableD thead {
  background-color: #7EA8F8;
}





table.customTableT {
  width: 60%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7EA8F8;
  border-style: solid;
  color: #000000;
}

table.customTableT td, table.customTable th {
  border-width: 2px;
  border-color: #7EA8F8;
  border-style: solid;
  padding: 5px;
}

table.customTableT thead {
  background-color: #7EA8F8;
}


.square7{
  position: absolute;
  width: 100%;
  height: 30%;
  margin-top: 25%;
  background-color: rgb(66, 65, 65);
  padding: 30px;
}
.square7:after{
  content: '';
  display: block;
  padding-bottom: 100%;
}
.content7{
  margin-left: 50%px;
  position: relative;
  width: auto;
  height: 20%;   
}
.content7 center{
  color: white;
  margin-top: 10px;
}
.content7 center span a{
  color: rgb(87, 112, 255);
}
.content7 .logos{
  position: relative;
  margin-left: 90%;
}