body{
    background-color: rgb(90, 90, 90);
}
.div0{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: auto !important;
}
.square{
    position: absolute;
    width: auto;
    margin-left: 12%;
    margin-top: 1%;
}
.square:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.content{
    position: relative;
    width: auto;
    height: auto;
}
.content span{
    cursor: default;
}
.content input{
    height: 22px;
    width: 200px;
    position: absolute;
    margin-left: 700px;
    border-radius: none;
    font-family: 'Times New Roman', Times, serif;
}
.content input[type="text"]:hover{
    color: white;
    background-color: black;
    transition: 0.6s;
}
.square1{
    background-color: whitesmoke;
    position: absolute;
    width: 100%;
    height: 15%;
    margin-top: 5%;
}
.square1:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.content1{
    margin-left: 120px;
    position: relative;
    width: auto;
    height: 100%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content1 b{
    margin-left: 640px;
    position: absolute;
    margin-top: 50px;
}
.content1 b a{
    margin-left: 25px;  
    text-decoration: none;
}
.content1 b a:hover{
    color: rgb(0, 153, 255);
    cursor: pointer;
    font-size: 18px;
}
.square2{
    position: absolute;
    width: 50%;
    height: 40%;
    margin-left: 28%;
    margin-top: 17%;
}
.square2:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.content2{
    position: relative;
    width: auto;
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.square3{
    background-color: transparent;
    position: absolute;
    width: 60%;
    height: 60%;
    margin-left: 28%;
    margin-top: 30%;
}
.square3:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.content3{
    position: relative;
    width: auto;
    height: 100%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content3 .left{
    width: 40%;
}
.content3 .left h2{
    margin-top: 80px;
}
.content3 .left p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content3 .left input{
    border-radius: 15px 15px;
    background-color: rgb(78, 97, 97);
    padding: 8px;
    width: 35%;
    color: white;
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content3 .left input:hover{
    color: rgb(78, 97, 97);
    background-color: white;
    cursor: pointer;
    font-size: 13px;
    width: 50%;
    transition: 0.6s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content3 .right{
    width: 50%;
    height: 50%;
}
.content3 .right img{
    position: absolute;
    width: 50%;
    left: 45%;
    top: -13%;
}
.square4{
    background-color: #afeeff;
    position: absolute;
    width: 100%;
    height: 80%;
    margin-top: 60%;
}
.square4:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.content4{
    margin-left: 50%px;
    position: relative;
    width: auto;
    height: 100%;   
}
.content4 h1{
    color: rgb(89, 136, 238);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5%;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root{
    --color-primary: #444CF7;
    --color-title: #000;
    --align-title: left;
    --padding-container: 100px 0;
    --width-container: 90%;
    --max-width-container: 1200px;
    --color-btn: #444CF7;
    --text-btn: #fff;
    --padding-btn: 20px 35px;
    --height-shape:18em;
}


body{
    font-family: 'Inter', sans-serif;
    opacity: 1;
    background-position: 0 0,14px 14px;
}

.container{
    width: 90%;
    max-width: var(--max-width-container);
    padding: var(--padding-container);
    margin: 0 auto;
    overflow: hidden;
}

/* Main */

.title{
    font-size: 2.5rem;
    text-align: var(--align-title);
    color: var(--color-title);
}

.title--border::after{
    content: "";
    display: block;
    width: 100px;
    margin-top: 20px;
    height: 4px;
    background-color: var(--color-primary);
}


.cta{
    display: inline-block;
    background: var(--color-btn);
    color: var(--text-btn);
    padding: var(--padding-btn);
    text-align: center;
    text-decoration: none;
}

/* Card */

.card__copy{
    margin-top: 20px;
}

.card__container{
    width: 99%;
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 20px;
    grid-template-areas:  
    "card2  card1   card3"
}

.card__item{
    padding: 20px;
    background: #fff;
    border-top: 5px solid #667eea;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img{
    background: var(--color-primary);
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__img img:hover{
    cursor:pointer;
    width: 60px;
    transition: 0.6s;

}

.card__title{
    margin: 20px 0;
    font-size: 1.5rem;
}

.card__paragraph{
    font-weight: 300;
    margin-bottom: 20px;
}

.card__item:nth-last-of-type(1){
    grid-area: card1;
}

.card__item:nth-last-of-type(2){
    grid-area: card2;
}

.card__item:nth-last-of-type(3){
    grid-area: card3;
}

/* course */

.about__paragraph{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 300;
}

.course{
    --color-title: #fff;
    --color-btn: #fff;
    --text-btn: #444cf7;
    color: var(--color-title);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* align-items: center; */
}

.course__about{
    z-index: 100;
    align-self: center;
    width: 97%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    background: var(--color-primary);
    grid-column: 1/4;
    grid-row: 2/-2;
}

.course__picture{
    margin:0;
    grid-column: 3/-1;
    grid-row: 1/-1;
}

.course__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */


 *, ::before, ::after{
    margin: 0;
    box-sizing: border-box;
} 

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections
     ========================================================================== */

/**
   * Remove the margin in all browsers.
   */

body {
    margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */

main {
    display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
    font-size: 2em;
    margin: 0;
}

/* Grouping content
     ========================================================================== */

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
     ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
    background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
    font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
    font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
     ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
    border-style: none;
}

/* Forms
     ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
    /* 1 */
    overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
    /* 1 */
    text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
    vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
    overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
     ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
    display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
    display: list-item;
}

/* Misc
     ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
    display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
    display: none;
}



.square5{
    position: absolute;
    width: 100%;
    height: 20%;
    margin-top: -45%;
}
.square5:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.content5{
    margin-left: 50%px;
    position: relative;
    width: auto;
    height: 100%;   
}

.Destino{
    background-color: rgb(0, 0, 0);
    width: 340px;
    height: 600px;
    position: absolute;
    left: 5%;
    top: 10%;
    transform: translate(-10%,-5%);
}
.Destino h1{
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 30px;
    cursor: default;
    margin-top: 60px;
    margin-left: 20px;
}
.Destino h2{
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 30px;
    cursor: default; 
    margin-top:50px; 
    margin-left: 20px;
}
.Destino input[type="text"]{
    background-color: white;
    color:black;
    font-family: cursive;   
}
.input1{
    width: 280px;
    height: 35px; 
    margin: 10px -130px;
}
.input2{
    width: 280px;
    height: 35px;
    margin:10px -140px;
}
input[type=text]:hover {
    background: #000000;
    transition: 0.6s;
    color:white;
    border: 1px solid greenyellow;
}
.Destino input[type="button"]{
    background-color: rgb(161, 53, 53);
    color:white;
    border-radius: 15px 15px;
    width: 130px;
    height: 30px;
    font-family: cursive;
    margin-top: 60px;
    cursor: pointer;
}
input[type=button]:hover {
    background-color: white;
    color:rgb(161, 53, 53);
    transition: 0.6s;
    color:#0D0D0D;
    border: 1px solid rgb(191, 206, 169);
}
.Mapa iframe{
    width: 900px;
    height: 600px;
    position: absolute;
    margin-top: -33px;
    margin-left: 400px;
}

.square6{
    position: absolute;
    width: 99.42%;
    height: 20%;
    margin-top: 108%;
}
.square6:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.content6{
    margin-left: 50%px;
    position: relative;
    width: auto;
    height: 100%;   
}

.square7{
    position: absolute;
    width: 100%;
    height: 30%;
    margin-top: 155%;
    background-color: rgb(66, 65, 65);
    padding: 30px;
}
.square7:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.content7{
    margin-left: 50%px;
    position: relative;
    width: auto;
    height: 100%;   
}
.content7 center{
    color: white;
    margin-top: -90px;
}
.content7 center span a{
    color: rgb(87, 112, 255);
}
.content7 .logos{
    position: relative;
    margin-left: 90%;
}

.bodyLog{
    background: url(../imagenes/fondo.jpg);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
.Login{
    background-color: rgba(255, 50, 50, 0.5);
    height: 500px;
    width: 320px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 25px 25px;
}
.Login .img{
    width:400px;
    margin-left: -40px;
}
.Login h3{
    color: white;
    margin: 20px 50px;
    cursor: default;
    font-size: 25px;
}
.Login input[type="text"]{
    margin: 0px 50px;
    width: 180px;
    height: 25px;
}
.Login input[type="password"]{
    margin: 0px 50px;
    width: 180px;
    height: 25px;
}
.Login img{
    margin-top: 20px;
}
.Login input[type="text"]:hover {
    background: #000000;
    transition: 0.6s;
    color:white;
    border: 1px solid greenyellow;
}
.Login input[type=password]:hover {
    background: #000000;
    transition: 0.6s;
    color:white;
    border: 1px solid greenyellow;
}
.Login input[type="submit"]{
    width: 120px;
    height: 25px;
    margin-top: 10%;
    background-color: #ffbf00;
    border-radius: 5px 5px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.Login input[type="submit"]:hover {
    background: black;
    transition: 0.6s;
    width: 180px;
    color: #ffbf00;
}